
<label>Server Name</label>
<!-- <input type="text" class='form-control' (input) ='onUpdateServerName($event)'> -->
<input type="text" class='form-control' [(ngModel)]='serverName' >
<!-- <p>{{serverName}}</p> -->
<app-server></app-server>
<app-server></app-server>
<button class="btn btn-primary" [disabled] = "!allowNewServer" (click)='onCreateServer()'>Add Server</button>
<!-- <p [innerText] = 'allowNewServer'></p> -->
<p>{{serverCreationStatus}}</p>
<!-- Use string interpolation when wanting to print some text to the webpage -->
<!-- Use property binding when wanting something to change (components/functions)-->
